* {
    padding: 0;
    margin: 0;
}

.dashboard-container {
    background-color: #6c8a89;
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}

.menu {
    width: 20%;
    background-color: #ffff;
    margin: 5px;
}

.principal {
    width: 80%;
    background-color: #fffffff8;
    margin: 5px;
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: solid 0.9px #1100ff;
    text-align: center;

}

.botoes:hover {
    cursor: pointer;

    background-color: #ccccccf8;

}


.btn-novo {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: solid 0px;
    margin-bottom: 10px;
    text-decoration: none;
    display: inline-block;
    /* Alterado para inline-block para animação funcionar corretamente */
    transition: background-color 0.3s ease;
    /* Adicionando transição suave na cor de fundo */
}

.btn-novo:hover {
    background-color: #0056b3;
    /* Cor de fundo alterada quando o mouse passa por cima */
}




/* -------------------formulario------------------- */
select,
option {

    outline: 0;
    margin-bottom: 10px;

}


.btn-novo:hover {
    background-color: #0651a1;
    cursor: pointer;
    text-decoration: none;
}



.btn-save {
    font-size: 15px;
    padding: 5px;
    background-color: #0ca51b;
    color: #f8f8f8f8;
    border-radius: 5px;
    border: solid 0#a4b5d8;
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
    width: 120px;
    margin: 5px;
    align-items: center;

}

.btn-save>svg,
.btn-cancel>svg {
    padding-left: 8px;
    /* Ajuste o valor conforme necessário */
}


.btn-save:hover {
    background-color: #048e14;
    cursor: pointer;
    text-decoration: none;
}

.btn-cancel:hover {
    background-color: #870606;
    cursor: pointer;
    text-decoration: none;
}

.btn-cancel {
    align-items: center;
    font-size: 15px;
    padding: 5px;
    background-color: red;
    color: #f8f8f8f8;
    border-radius: 5px;
    border: solid 0 #a4b5d8;
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
    width: 120px;
    margin: 5px;


}

.acao {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-around;

}

.form-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinhar os itens ao topo */
    padding-top: 10vh; /* Adicionar um espaçamento superior */
}

.form-cadastro {
    background-color: #8ca3a5;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 10px 10px 5px 1px #9caead;
    width: 85%;
    max-width: 450px;
    display: flex;
    
}

.form-cadastro input {
    width: 99%;
    height: 30px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    margin-bottom: 10px; /* Adicionar espaçamento entre os inputs */
}

h1, h2 {
    color: darkslategrey;
    text-align: center;
    margin-bottom: 20px; /* Adicionar espaçamento abaixo dos títulos */
}


.form-cadastro input:focus {
    box-shadow: 0.1px 0.1px 1px 1px;
    border: 1px solid #dcdce6;
    outline: 0;
}


/* Estilizando o seletor */
/* Estilizando o seletor */
select {
    /* Tamanho */
    width: 104%;
    height: 40px;
    
    /* Espaçamento */
    padding: 5px;
    /* Fonte */
    font-size: 14px;

    color: #000000;
    background-color: #ffffff;
    /* Borda */
    border: 1px solid #ccc;
    border-radius: 10px;
    /* Estilo do cursor */
    cursor: pointer;
    /* Adicionando transição suave */
    transition: all 0.20s ease;
}

/* Estilizando o seletor quando está focado */
select:focus {
    outline: none;
    /* Removendo a borda de foco padrão */
    border-color: #d9d9d9;
    /* Mudando a cor da borda quando está focado */
}

/* Estilizando o seletor quando passa o mouse por cima */
select:hover {
    background-color: #d1d6dc;
    /* Mudando a cor de fundo ao passar o mouse por cima */
}
/* -------------------formulario------------------- */