*{
    padding: 0;
    margin: 0;
}
.dashboard-container{
    background-color: #6d8d8c;
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}
.menu{
    width: 20%;
    background-color: #ffff;
    margin: 5px;
}
.principal{
    width: 80%;
    background-color:#ffff;
    margin: 5px;
    padding: 5px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td{
    border:  solid 0.5px #a4b5d8;
    
}

.botoes:hover{
    cursor: pointer;
    background-color: rgb(107, 164, 245);
}

.btn-novo{
    padding: 10px;
    background-color:  #007bff;
    color: white;
    border-radius: 5px;
    border: solid 0px ;
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
    width: 10%;


}
.btn-novo:hover{
    background-color: #0651a1;
    cursor: pointer;
    text-decoration: none;
    
    
}
