nav{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.link{
    
    text-decoration: none;
    background-color: #007bff;
    border-radius: 5px;
    padding: 10px ;
    color: #ffffff;
    width: 85%;
    margin: auto;
    margin-bottom: 8px;
}
.link:hover{
    background-color: #0056b3;
}